<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>Engagement</h4></div>
    </div>
    <div class="panel-body">
        <div class="col-xs-4 text-center"><img src="http://placehold.it/80/BBBBBB/FFF" class="img-circle img-responsive"></div>
        <div class="col-xs-4 text-center"><img src="http://placehold.it/80/EFEFEF/555" class="img-circle img-responsive"></div>
        <div class="col-xs-4 text-center"><img src="http://placehold.it/80/EEEEEE/222" class="img-circle img-responsive"></div>
    </div>
</div>