<h3>
    Staff Details
</h3>
<ul class="pager" >
    <li class="next"><a ui-sref=".add" ><span class="glyphicon glyphicon-plus-sign"></span> Add Staff →</a></li>
</ul>
<div >
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Qualification</td>
                <td>9980130541</td>
                <td>QualificationQualificationQualificationQualification</td>
                <td class="text-center"><a ui-sref=".view" > <i class="glyphicon glyphicon-remove-circle" style="color: red;"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Qualification</td>
                <td>9980130541</td>
                <td>QualificationQualificationQualificationQualification</td>
                <td class="text-center"><a href="" > <i class="glyphicon glyphicon-remove-circle" style="color: red;"></i></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Qualification</td>
                <td>9980130541</td>
                <td>QualificationQualificationQualificationQualification</td>
                <td class="text-center"><a ui-sref=".view" > <i class="glyphicon glyphicon-remove-circle" style="color: red;"></i></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>..</td>
                <td>..</td>
                <td>..</td>
                <td class="text-center"><a href="" > <i class="glyphicon glyphicon-remove-circle" style="color: red;"></i></a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>..</td>
                <td>..</td>
                <td>..</td>
                <td class="text-center"><a href="" > <i class="glyphicon glyphicon-remove-circle" style="color: red;"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
<div ui-view="add"></div>
<br>