<div class="intro-header" style="background: url('img/home-bg3.jpg') center 0 no-repeat #FFF; min-height: 59.5vh;">
    <div class="container" >
        <div class="row">
            <div class="col-lg-12">
                <h2><i class="fa fa-comments-o"></i> Feedback &amp; Suggestions</h2>
                <p>If you have general feedback, or if you have an idea for a this work flow you would like to see on website</p>
                <h2><i class="fa fa-support"></i> Help Requests</h2>
                <p>If you need help with websit work flow, or if you are experiencing a bug, please visit <a ui-sref='home'>our help page</a>. If you still can't find an answer</p>
                <p><strong><a href="mailto:reddyarunkumar@gmail.com">reddyarunkumar@gmail.com.com</a></strong></p>
            </div>
        </div>
    </div>
</div>