<!DOCTYPE html>
<html ng-app="sbpuc">
    <head>
        <title>SBPUC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- frame work styles -->
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <!-- work-flow styles -->
        <link href="css/style.css" rel="stylesheet" media="screen">
        <!-- frame work scripts -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/jquery.validate/dist/jquery.validate.min.js"></script>
        <!-- work-flow scripts -->
        <script src="js/main.js"></script>
        <script src="js/appRouters.js"></script>
        <script src="js/directives/passwordcheck.js"></script>
        <script src="js/service/security.js"></script>
        <script src="js/service/utility.js"></script>
        <script src="js/controllers/basectrl.js"></script>
        <script src="js/controllers/login.js"></script>
        <script src="js/controllers/signup.js"></script>
    </head>
    <body ng-controller="BaseController">
        <div>
            {{message}}
            <header>
                <div class="container">
                    <!--                NAVIGATION -->
                    <nav class="navbar navbar-inverse " role="navigation">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Shri Bhuvaneshwari PU College, H-Cross(MC109)</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li ng-if="!isAuthenticated" ng-class="{active: isActive('/')}"><a href="/">Home</a></li>
                            <li ng-if="!isAuthenticated" ng-class="{active: isActive('/about')}"><a href="#/about">About</a></li>
                            <li ng-if="!isAuthenticated" ng-class="{active: isActive('/signup')}"><a href="#/signup">Sign Up</a></li>
                            <li ng-if="!isAuthenticated" ng-class="{active: isActive('/contact')}"><a href="#/contact">Contact</a></li>
                            <li ng-if="isAuthenticated" ng-class="{active: isActive('/account/settings')}"><a href="#/account/settings">Settings</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-if="!isAuthenticated"><a href="#/login"><i class="fa fa-user"></i> Sign In &nbsp;</a></li> 
                            <li ng-if="isAuthenticated"><a href="" ng-click="logout()"><i class="fa fa-user"></i> Sign Out &nbsp;</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main>
                <div class="container">
                    <ng-view></ng-view>
                </div>
            </main>

            <footer id="footer">
                <div class="container navbar-fixed-bottom">
                    <nav class="site-footer">
                        <lable>&copy Shree Bhuvaneshwari PU College(MC109) 2015. This website and its content is copyright of Shree Bhuvaneshwari Educational and Charitable Trust, H-Cross - All rights reserved.</p>	
                    </nav>
                </div>
            </footer>
        </div>
    </body>
</html>