<!DOCTYPE html>
<html lang="en" ng-app="sbpuc">
    <head>
        <meta charset="utf-8">
        <title>Bootswatch: Flatly</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
          <script src="../bower_components/respond/dest/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="BaseController">
        <header>
            <!--NAVBAR-->
            <nav class="navbar navbar-default navbar-static">
                <!--Mobile Menu-->
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--Desktop/Tablet Menu-->
                <div class="collapse navbar-collapse js-navbar-collapse">
                    <div class="container">
                        <div class="row">
                            <div class="btn-group btn-group-justified">
                                <!--Home-->
                                <div class="btn-group">
                                    <a href="#/">
                                        <button type="button" class="btn btn-nav">
                                            <span class="glyphicon glyphicon-home"></span>
                                            <p id="home">Home</p>
                                        </button>
                                    </a>
                                </div>
                                <!--TechTicket-->
                                <div class="btn-group">
                                    <a href="#/viewstudentsdetail">
                                        <button type="button" class="btn btn-nav">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            <p id="techtickets">Students</p>
                                        </button>
                                    </a>
                                </div>
                                <!--Reports-->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-nav">
                                        <span class="glyphicon glyphicon-stats"></span>
                                        <p id="reports">Reports</p>
                                    </button>
                                </div>
                                <!--News-->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-nav">
                                        <span class="glyphicon glyphicon-asterisk"></span>
                                        <p id="news">News</p>
                                    </button>
                                </div>
                                <!--Login -->
                                <div class="btn-group" ng-show="!isAuthenticated">
                                    <a href="#/login">
                                        <button type="button" class="btn btn-nav">
                                            <span class="glyphicon glyphicon-log-in"></span>
                                            <p id="profile">Login</p>
                                        </button>
                                    </a>
                                </div>
                                <!--Profile-->
                                <div class="btn-group" ng-show="isAuthenticated">
                                    <button type="button" class="btn btn-nav" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <p id="wiki">Profile <span class="caret"></span></p>
                                    </button>
                                    <ul class="dropdown-menu multi-column columns-4">
                                        <li class="col-md-3 hidden-xs">
                                            <ul class="multi-column-dropdown">
                                                <li class="dropdown-header">Header</li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Header</li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3 hidden-xs">
                                            <ul class="multi-column-dropdown">
                                                <li class="dropdown-header">Header</li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Header</li>
                                                <li><a href="#">placeholder</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3 hidden-xs">
                                            <ul class="multi-column-dropdown">
                                                <li class="dropdown-header">Header</li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Header</li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3 hidden-xs">
                                            <ul class="multi-column-dropdown">
                                                <li class="dropdown-header">Header</li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                                <li><a href="#">placeholder</a></li>
                                            </ul>
                                            <a href="#" style="float:right;padding-right:25px">See All</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="bs-docs-section">
                <ng-view></ng-view>
            </div>

            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
                            <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                            <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
                            <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                            <li><a href="../help/#api">API</a></li>
                            <li><a href="../help/#support">Support</a></li>
                        </ul>
                        <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
                        <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>
                    </div>
                </div>
            </footer>
            <div class="row">
                <div class="col-lg-12 footer-below">
                    <p>Themes and templates licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.
                        <br>Based on <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
                </div>
            </div>

        </div>
        <!-- frame work scripts -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/jquery.validate/dist/jquery.validate.min.js"></script>
        <!-- work-flow scripts -->
        <script src="js/main.js"></script>
        <script src="js/appRouters.js"></script>
        <script src="js/directives/passwordcheck.js"></script>
        <script src="js/service/authorization.js"></script>
        <script src="js/service/router.js"></script>
        <script src="js/service/security.js"></script>
        <script src="js/service/student.js"></script>
        <script src="js/service/utility.js"></script>
        <script src="js/controllers/base.js"></script>
        <script src="js/controllers/login.js"></script>
        <script src="js/controllers/signup.js"></script>
        <script src="js/controllers/student/viewstudentsdetail.js"></script>
        <script src="js/controllers/student/addstudent.js"></script>
        <script src="js/controllers/student/studentdetails.js"></script>
        <script>
                                var activeElement = 0;//select default tab
                                $(function () {
                                    var items = $('.btn-nav');
                                    $(items[activeElement]).addClass('active');
                                    $(".btn-nav").click(function () {
                                        $(items[activeElement]).removeClass('active');
                                        $(this).addClass('active');
                                        activeElement = $(".btn-nav").index(this);
                                    });
                                });
        </script>
    </body>
</html>
