<!DOCTYPE html>
<html  class="can-has-js" ng-app="sbpuc">
    <head id="ctl00_Head1">
        <title>SBECT</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
          <script src="../bower_components/respond/dest/respond.min.js"></script>
        <![endif]-->
        <link href="css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="css/footer.css" type="text/css">

        <link rel="stylesheet" href="css/base.css" type="text/css" media="screen, projection">
    </head>
    <body class="col-standard layout" ng-controller="BaseController">


        <hr>
        <div id="masthead">
            <p class="logo">
                <a id="ctl00_hlCernerTag" title="Cerner Corporation" href="#" style="display:inline-block;border-width:0px;">
                    <img src="img/logo5.png" alt="Cerner" style="border-width:0px;">
                </a>
            </p>
            <div id="ctl00_cbHeaderPrimaryNav">
                <div id="primary-nav"><ul id="nav" class="mod">
                        <li class="nav-solutions"> &nbsp;</li>
                        <li class="nav-solutions"> &nbsp;</li>
                        <li class="nav-solutions"> &nbsp;</li>
                        <li class="nav-solutions"> &nbsp;</li>
                        <li class="util-nav-support" ng-show="isAuthenticated"><a title="Students" href="#/viewstudentsdetail"><span class="glyphicon glyphicon-link"></span> Students</a></li>
                        <li class="util-nav-ucern" ng-show="isAuthenticated"><a title="Reports" href="#"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
                        <li class="nav-about-cerner"><a title="About" href="#"><span class="glyphicon glyphicon-eye-open"></span> About</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <ul id="util-nav" class="mod">

                    <li class="util-nav-ucern"><a title="Reports" href="#" ng-show="isAuthenticated"><span class="glyphicon glyphicon-asterisk"></span> Setting</a></li>
                    <li class="util-nav-ucern"><a title="Login" href="#" ng-show="!isAuthenticated"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li class="util-nav-global last"><a title="Profile" href="#" ng-show="isAuthenticated" > <span class="glyphicon glyphicon-user"></span> Profile</a> <ul>
                            <li><a title="Profile" href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li class="last"><a title="Logout" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <h2 class="title">SBECT</h2>
        </div>
        <!-- end #masthead -->
        <hr>
        <div id="content">
            <div id="primary" class="default-body">
                <ng-view></ng-view>
            </div>
            <div id="secondary">
                <div >
                    <div  class="dropzone PBClear">
                        <div  class="PBViewing">
                            <ul class="columnwidgetlist">
                                <li class="PBItem">
                                    <div class="widget" >
                                        <div class="content">
                                            <div>
                                                <span >
                                                    <div class="secondary-about">
                                                        <h2>About SBECT</h2>
                                                        <ul>
                                                            <li><a href="#">About SBECT</a></li>
                                                            <li><a href="#">Awards</a></li>
                                                            <li><a href="#">Leadership</a></li>
                                                            <li><a href="#">Newsroom</a></li>
                                                            <li><a href="#">Client Achievements</a></li>
                                                            <li><a href="#">Community Impact</a></li>
                                                            <li><a href="#">Investor Relations</a></li>
                                                            <li><a href="#">Corporate Governance</a></li>
                                                            <li><a href="#">Partnerships</a></li>
                                                            <li><a href="#">Cerner Careers</a></li>
                                                            <li><a href="#">Contact</a></li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /end #content -->
        <footer class="container-fluid text-center">
            <div>
                <div id="footer" class="mod">
                    <ul id="foot-nav">
                        <li class="foot-nav-terms"><a href="#">Terms of Use</a></li>
                        <li class="foot-nav-privacy"><a href="#">Privacy Policy</a></li>
                        <li class="foot-nav-support"><a href="#">Support</a></li>
                        <li class="foot-nav-contact"><a href="#">Contact Us</a></li>
                    </ul>
                    <!-- /end #foot-nav --><div id="social-nav"><h2>Connect with SBECT(R)</h2>
                        <ul>
                            <li><a href="#"><img title="icon_Youtube" border="0" alt="icon_Youtube" src="img/youtubelogo_small.jpg"></a></li>
                            <li><a href="#"><img alt="Facebook" src="img/ico-facebook.gif"></a></li>
                            <li><a href="#"><img alt="Twitter" src="img/ico-twitter.gif"></a></li>
                            <li><a href="#"><img title="LinkedIn" style="BORDER-TOP: 0px solid; HEIGHT: 18px; BORDER-RIGHT: 0px solid; WIDTH: 18px; BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid" border="0" alt="LinkedIn" src="img/download.jpg" width="18" height="18"></a></li>
                        </ul>
                    </div>
                    <!-- /end #social-nav --><p class="copyright">Copyright © 2015 SBECT(R) H Cross. All rights reserved.</p>
                </div>
            </div>
        </footer>
        <!-- script references -->

        <!-- frame work scripts -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/jquery.validate/dist/jquery.validate.min.js"></script>
        <!-- work-flow scripts -->
        <script src="js/main.js"></script>
        <script src="js/appRouters.js"></script>
        <script src="js/directives/passwordcheck.js"></script>
        <script src="js/service/authorization.js"></script>
        <script src="js/service/router.js"></script>
        <script src="js/service/security.js"></script>
        <script src="js/service/student.js"></script>
        <script src="js/service/utility.js"></script>
        <script src="js/controllers/base.js"></script>
        <script src="js/controllers/login.js"></script>
        <script src="js/controllers/signup.js"></script>
        <script src="js/controllers/student/viewstudentsdetail.js"></script>
        <script src="js/controllers/student/addstudent.js"></script>
        <script src="js/controllers/student/studentdetails.js"></script>
        <script>
        var activeElement = 0;//select default tab
        $(function () {
            var items = $('.btn-nav');
            $(items[activeElement]).addClass('active');
            $(".btn-nav").click(function () {
                $(items[activeElement]).removeClass('active');
                $(this).addClass('active');
                activeElement = $(".btn-nav").index(this);
            });
        });
        </script>
    </body>
</html>