<!DOCTYPE html>
<html  ng-app="sbpuc">
    <head id="ctl00_Head1">
        <title>SBECT</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Bootstrap -->
        <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <!-- Bootstrap Material Design -->
        <!--        <link href="vendor/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
                <link href="vendor/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../vendor/html5shiv/dist/html5shiv.js"></script>
          <script src="../vendor/respond/dest/respond.min.js"></script>
        <![endif]-->
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/flash/angular-flash.css" rel="stylesheet">
    </head>
    <body class="col-standard" ng-controller="BaseController">
        <header>
            <div id="masthead">
                <p class="logo">
                    <a title="SBECT(R)" href="#/" style="display:inline-block;border-width:0px;">
                        <img src="img/logo5.png" alt="Cerner" style="border-width:0px;">
                    </a>
                </p>
                <div>
                    <div id="primary-nav"><ul id="nav" class="mod">
                            <li class="nav-solutions"> &nbsp;</li>
                            <li class="nav-solutions"> &nbsp;</li>
                            <li class="nav-solutions"> &nbsp;</li>
                            <li class="nav-solutions"> &nbsp;</li>
                            <li class="nav-solutions" ng-show="isAuthenticated"><a title="Students" href="#/viewstudentsdetail"><span class="glyphicon glyphicon-link"></span> Students</a></li>
                            <li class="nav-solutions" ng-show="isAuthenticated"><a title="Reports" href="#/reports"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
                            <li class="nav-solutions"><a title="About" href="#"><span class="glyphicon glyphicon-eye-open"></span> About</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <ul id="util-nav" class="mod">

                        <li class="util-nav-global"><a title="Reports" href="#" ng-show="isAuthenticated"><span class="glyphicon glyphicon-asterisk"></span> Setting</a></li>
                        <li class="util-nav-global"><a title="Login" href="#/login" ng-show="!isAuthenticated"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li class="util-nav-global last"><a title="Profile" href="#" ng-show="isAuthenticated" > <span class="glyphicon glyphicon-user"></span> Profile</a> <ul>
                                <li><a title="Profile" href="#/settings"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li class="last"><a title="Logout" href="#/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <h2 class="title">SBECT</h2>

            </div>
        </header>
        <main>
            <!--
            5000 milli-secs is the display duration.
            Flash alert will be automatically dismissed after 5000 milli-secs.
            Flash alert types
                success
                info
                warning
                danger
            -->
            <div class="flash-div" flash-message="5000"></div> 
            <div id="content">
                <div id="primary" class="default-body">
                    <ng-view></ng-view>
                </div>
                <div id="secondary">

                </div>
            </div>
        </main>
        <footer>
            <div>
                <div id="footer" class="mod">
                    <ul id="foot-nav">
                        <li class="foot-nav-terms"><a href="#">Terms of Use</a></li>
                        <li class="foot-nav-privacy"><a href="#">Privacy Policy</a></li>
                        <li class="foot-nav-support"><a href="#">Support</a></li>
                        <li class="foot-nav-contact"><a href="#">Contact Us</a></li>
                    </ul>
                    <!-- /end #foot-nav --><div id="social-nav"><h2>Connect with SBECT(R)</h2>
                        <ul>
                            <li><a href="#"><img title="icon_Youtube" border="0" alt="icon_Youtube" src="img/youtubelogo_small.jpg"></a></li>
                            <li><a href="#"><img alt="Facebook" src="img/ico-facebook.gif"></a></li>
                            <li><a href="#"><img alt="Twitter" src="img/ico-twitter.gif"></a></li>
                            <li><a href="#"><img title="LinkedIn" style="BORDER-TOP: 0px solid; HEIGHT: 18px; BORDER-RIGHT: 0px solid; WIDTH: 18px; BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid" border="0" alt="LinkedIn" src="img/download.jpg" width="18" height="18"></a></li>
                        </ul>
                    </div>
                    <!-- /end #social-nav --><p class="copyright">Copyright © 2015 SBECT(R) H Cross. All rights reserved.</p>
                </div>
            </div>
        </footer>
        <!--         script references 
        
                 frame work scripts -->
        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="vendor/angular/angular.min.js"></script>
        <script src="vendor/angular-route/angular-route.min.js"></script>
        <script src="vendor/jquery.validate/dist/jquery.validate.min.js"></script>
        <script src="js/flash/angular-flash.js"></script> 
        <script src="js/ui-bootstrap.js"></script> 
        <!--         work-flow scripts -->
        <script src="js/main.js"></script>
        <script src="js/appRouters.js"></script>
        <script src="js/directives/passwordcheck.js"></script>
        <script src="js/directives/copyvalue.js"></script>
        <script src="js/service/authorization.js"></script>
        <script src="js/service/router.js"></script>
        <script src="js/service/security.js"></script>
        <script src="js/service/student.js"></script>
        <script src="js/service/utility.js"></script>
        <script src="js/service/report.js"></script>
        <script src="js/controllers/base.js"></script>
        <script src="js/controllers/login.js"></script>
        <script src="js/controllers/signup.js"></script>
        <script src="js/controllers/student/viewstudentsdetail.js"></script>
        <script src="js/controllers/student/studentdetails.js"></script>
        <script src="js/controllers/reports/reports.js"></script>
        <script src="js/controllers/reports/anualfee.js"></script>
    </body>
</html>