<!-- Team Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/000.jpg" class="img-responsive img-circle" alt="">
                    <h4>Arun Kumar</h4>
                    <p class="text-muted">Engineer in Computer Science</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/arunreddyc"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/arunreddykumar"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/arun-kumar-964b70a9"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="team-member">
                    <h3 class="section-subheading text-muted">Web Site Designer</h3>
                    <p class="text-muted text-justify">I'm a computer programmers write the step-by-step instructions that direct computers to process information in a series of logical steps. This involves establishing a detailed specification and clarifying exactly what the programme needs to do, then breaking the specification down to its simplest elements and translating this into an appropriate programming language.</p>
                    <p class="text-muted text-justify">My nature of work is generally of a highly complex and technical nature, and involves the application of computer science and mathematics in an environment which is constantly evolving due to technological advances and the strategic direction of their organisation.</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Founders</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/002.jpg" class="img-responsive img-circle" alt="">
                    <h4>Manjunatha NN</h4>
                    <p class="text-muted">Lecturer in Chemistry</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/001.jpg" class="img-responsive img-circle" alt="">
                    <h4>Chandrika B</h4>
                    <p class="text-muted">Lecturer in Biology</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/002.jpg" class="img-responsive img-circle" alt="">
                    <h4>Diana Pertersen</h4>
                    <p class="text-muted">Lecturer in Mathematics</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/002.jpg" class="img-responsive img-circle" alt="">
                    <h4>Diana Pertersen</h4>
                    <p class="text-muted">Lecturer in Physics</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 text-center">
                <p class="large text-muted">Trust details and college details here.</p>
            </div>
        </div>
        <br>
    </div>
</section>
