<div class="intro-header" style="background: url('img/home-bg3.jpg') center 0 no-repeat #FFF; ">
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 col-md-10 col-md-offset-1">
                <hr>
                <div class="post-preview">
                    <h2 class="text-capitalize">
                        Mission and Vision
                    </h2>
                    <p class="text-justify">
                        Shree Bhuvaneshwari PU College envisions values of &quot;Excellence and Service&quot; as attendant to imparting education. We believe that excellence is achieved only through persistent efforts to better oneself constantly. It achieves meaning and significance only in the fulfillment of one&rsquo;s social commitment.
                    </p>
                </div>
                <hr>
                <div class="post-preview">
                    <h2 class="text-capitalize">
                        Vision
                    </h2>
                    <p class="text-justify">
                        Every student who is committed to excellence in its many forms will explore the opportunities offered here and develop his talents to the fullest for the greater service of humanity. We are committed to the practice of shaping future leaders for every endeavour.
                    </p>
                </div>
                <hr>
                <div class="post-preview">
                    <h2 class="text-capitalize">
                        Mission
                    </h2>
                    <p class="text-justify">
                        To uphold and promote holistic development in the individual so that he may make effective contribution to the society in a dynamic environment. 
                    </p>
                    <p class="text-justify">
                        Our college aims 
                        to nurture young minds through holistic development, to widen the global
                        perspective, cultural understanding and critical thinking by exposing them to
                        a global education system,
                        to instill compassion, love and tolerance towards all fellow beings for the creation 
                        of a peaceful world,
                        to enable them to respect and appreciate diverse perspectives, to display 
                        equanimity and be principled,
                        to develop the natural curiosity and inquiry latent in each person, making them 
                        open minded, reflective and lifelong learners capable of solving the problems with 
                        confidence and approach them as opportunities for growth.
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>