/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2015, Dec 28, 2015 5:02:52 PM
    Author     : ArunkumarR
*/


@-webkit-keyframes jelly-answer {
    0% {
        -webkit-transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    1.666667% {
        -webkit-transform: matrix3d(0.13823, 0, 0, 0, 0, 0.16209, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.13823, 0, 0, 0, 0, 0.16209, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    3.333333% {
        -webkit-transform: matrix3d(0.2909, 0, 0, 0, 0, 0.37203, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.2909, 0, 0, 0, 0, 0.37203, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    5% {
        -webkit-transform: matrix3d(0.44674, 0, 0, 0, 0, 0.59804, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.44674, 0, 0, 0, 0, 0.59804, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    6.666667% {
        -webkit-transform: matrix3d(0.59685, 0, 0, 0, 0, 0.81382, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.59685, 0, 0, 0, 0, 0.81382, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    8.333333% {
        -webkit-transform: matrix3d(0.73459, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.73459, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    10% {
        -webkit-transform: matrix3d(0.85548, 0, 0, 0, 0, 1.14452, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.85548, 0, 0, 0, 0, 1.14452, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    11.666667% {
        -webkit-transform: matrix3d(0.95693, 0, 0, 0, 0, 1.24218, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.95693, 0, 0, 0, 0, 1.24218, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    13.333333% {
        -webkit-transform: matrix3d(1.03794, 0, 0, 0, 0, 1.29368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.03794, 0, 0, 0, 0, 1.29368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    15% {
        -webkit-transform: matrix3d(1.09883, 0, 0, 0, 0, 1.30417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.09883, 0, 0, 0, 0, 1.30417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    16.666667% {
        -webkit-transform: matrix3d(1.14088, 0, 0, 0, 0, 1.28177, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.14088, 0, 0, 0, 0, 1.28177, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    18.333333% {
        -webkit-transform: matrix3d(1.16611, 0, 0, 0, 0, 1.2361, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.16611, 0, 0, 0, 0, 1.2361, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    20% {
        -webkit-transform: matrix3d(1.17694, 0, 0, 0, 0, 1.17694, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.17694, 0, 0, 0, 0, 1.17694, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    21.666667% {
        -webkit-transform: matrix3d(1.17603, 0, 0, 0, 0, 1.11326, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.17603, 0, 0, 0, 0, 1.11326, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    23.333333% {
        -webkit-transform: matrix3d(1.16606, 0, 0, 0, 0, 1.05246, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.16606, 0, 0, 0, 0, 1.05246, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    25% {
        -webkit-transform: matrix3d(1.14957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.14957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    26.666667% {
        -webkit-transform: matrix3d(1.12889, 0, 0, 0, 0, 0.95928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.12889, 0, 0, 0, 0, 0.95928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    28.333333% {
        -webkit-transform: matrix3d(1.10606, 0, 0, 0, 0, 0.93176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.10606, 0, 0, 0, 0, 0.93176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    30% {
        -webkit-transform: matrix3d(1.08275, 0, 0, 0, 0, 0.91725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.08275, 0, 0, 0, 0, 0.91725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    31.666667% {
        -webkit-transform: matrix3d(1.0603, 0, 0, 0, 0, 0.9143, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.0603, 0, 0, 0, 0, 0.9143, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    33.333333% {
        -webkit-transform: matrix3d(1.0397, 0, 0, 0, 0, 0.92061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.0397, 0, 0, 0, 0, 0.92061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    35% {
        -webkit-transform: matrix3d(1.02162, 0, 0, 0, 0, 0.93348, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.02162, 0, 0, 0, 0, 0.93348, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    36.666667% {
        -webkit-transform: matrix3d(1.00644, 0, 0, 0, 0, 0.95014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00644, 0, 0, 0, 0, 0.95014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    38.333333% {
        -webkit-transform: matrix3d(0.99432, 0, 0, 0, 0, 0.96809, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99432, 0, 0, 0, 0, 0.96809, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    40% {
        -webkit-transform: matrix3d(0.98522, 0, 0, 0, 0, 0.98522, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.98522, 0, 0, 0, 0, 0.98522, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    41.666667% {
        -webkit-transform: matrix3d(0.97893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.97893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    43.333333% {
        -webkit-transform: matrix3d(0.97516, 0, 0, 0, 0, 1.01147, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.97516, 0, 0, 0, 0, 1.01147, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    45% {
        -webkit-transform: matrix3d(0.97354, 0, 0, 0, 0, 1.01923, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.97354, 0, 0, 0, 0, 1.01923, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    46.666667% {
        -webkit-transform: matrix3d(0.97367, 0, 0, 0, 0, 1.02332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.97367, 0, 0, 0, 0, 1.02332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    48.333333% {
        -webkit-transform: matrix3d(0.97516, 0, 0, 0, 0, 1.02415, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.97516, 0, 0, 0, 0, 1.02415, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    50% {
        -webkit-transform: matrix3d(0.97763, 0, 0, 0, 0, 1.02237, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.97763, 0, 0, 0, 0, 1.02237, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    51.666667% {
        -webkit-transform: matrix3d(0.98072, 0, 0, 0, 0, 1.01874, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.98072, 0, 0, 0, 0, 1.01874, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    53.333333% {
        -webkit-transform: matrix3d(0.98414, 0, 0, 0, 0, 1.01405, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.98414, 0, 0, 0, 0, 1.01405, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    55% {
        -webkit-transform: matrix3d(0.98762, 0, 0, 0, 0, 1.00899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.98762, 0, 0, 0, 0, 1.00899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    56.666667% {
        -webkit-transform: matrix3d(0.99098, 0, 0, 0, 0, 1.00417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99098, 0, 0, 0, 0, 1.00417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    58.333333% {
        -webkit-transform: matrix3d(0.99406, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99406, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    60% {
        -webkit-transform: matrix3d(0.99677, 0, 0, 0, 0, 0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99677, 0, 0, 0, 0, 0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    61.666667% {
        -webkit-transform: matrix3d(0.99904, 0, 0, 0, 0, 0.99458, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99904, 0, 0, 0, 0, 0.99458, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    63.333333% {
        -webkit-transform: matrix3d(1.00085, 0, 0, 0, 0, 0.99343, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00085, 0, 0, 0, 0, 0.99343, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    65% {
        -webkit-transform: matrix3d(1.00221, 0, 0, 0, 0, 0.9932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00221, 0, 0, 0, 0, 0.9932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    66.666667% {
        -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 0.9937, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00315, 0, 0, 0, 0, 0.9937, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    68.333333% {
        -webkit-transform: matrix3d(1.00372, 0, 0, 0, 0, 0.99472, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00372, 0, 0, 0, 0, 0.99472, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    70% {
        -webkit-transform: matrix3d(1.00396, 0, 0, 0, 0, 0.99604, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00396, 0, 0, 0, 0, 0.99604, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    71.666667% {
        -webkit-transform: matrix3d(1.00394, 0, 0, 0, 0, 0.99747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00394, 0, 0, 0, 0, 0.99747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    73.333333% {
        -webkit-transform: matrix3d(1.00371, 0, 0, 0, 0, 0.99883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00371, 0, 0, 0, 0, 0.99883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    75% {
        -webkit-transform: matrix3d(1.00335, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00335, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    76.666667% {
        -webkit-transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00091, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00091, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    78.333333% {
        -webkit-transform: matrix3d(1.00237, 0, 0, 0, 0, 1.00153, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00237, 0, 0, 0, 0, 1.00153, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    80% {
        -webkit-transform: matrix3d(1.00185, 0, 0, 0, 0, 1.00185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00185, 0, 0, 0, 0, 1.00185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    81.666667% {
        -webkit-transform: matrix3d(1.00135, 0, 0, 0, 0, 1.00192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00135, 0, 0, 0, 0, 1.00192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    83.333333% {
        -webkit-transform: matrix3d(1.00089, 0, 0, 0, 0, 1.00178, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00089, 0, 0, 0, 0, 1.00178, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    85% {
        -webkit-transform: matrix3d(1.00048, 0, 0, 0, 0, 1.00149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00048, 0, 0, 0, 0, 1.00149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    86.666667% {
        -webkit-transform: matrix3d(1.00014, 0, 0, 0, 0, 1.00112, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00014, 0, 0, 0, 0, 1.00112, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    88.333333% {
        -webkit-transform: matrix3d(0.99987, 0, 0, 0, 0, 1.00071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99987, 0, 0, 0, 0, 1.00071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    90% {
        -webkit-transform: matrix3d(0.99967, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99967, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    91.666667% {
        -webkit-transform: matrix3d(0.99953, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99953, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    93.333333% {
        -webkit-transform: matrix3d(0.99944, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99944, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    95% {
        -webkit-transform: matrix3d(0.99941, 0, 0, 0, 0, 0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99941, 0, 0, 0, 0, 0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    96.666667% {
        -webkit-transform: matrix3d(0.99941, 0, 0, 0, 0, 0.99948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99941, 0, 0, 0, 0, 0.99948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    98.333333% {
        -webkit-transform: matrix3d(0.99944, 0, 0, 0, 0, 0.99946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99944, 0, 0, 0, 0, 0.99946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
}