.careers-footer
{
    height:200px;
    width:100%;    
}
.careers-footer h3
{
    color:#6A737B;
    font-size:18px;
    font-weight:500;
    padding-bottom:10px;
    margin:25px 20px 10px 0px;
    border-bottom:2px solid #DFDEE0;
}
.news-footer
{
    width:35%;
    float:left;
}
.news-content
{
    text-align:justify;
    padding: 0px 35px 15px 0px;
}
.news-link
{
    color:Green;
    float:left;
    margin-right:5px;
}
.links-footer
{
    width:33%;
    float:left;
}
.links-footer td
{
    width:50%;
}
.links-footer a
{
    color: #0D94D2 !important;
    font-size:12px;
}
.social-footer
{
    width:32%;
    float:left;
}
.social-footer h3
{
    margin-right:0px;
}
.social-footer p
{
    padding-bottom: 10px;
}
.social-footer li
{
    float:left;
    margin-right:7px;
}
