body { 
    background: url(../img/header-blue-bgr.jpg) center 0 no-repeat #FFF; 
}
ol,ul { list-style:none; }
/* MASTHEAD: GLOBAL HEADER ELEMENTS */
#masthead {
    width: 70%;
    margin: 0 auto 0;
    padding-top: 17px;
    position: relative;
    height: 163px;
    z-index: 10;
}
#masthead .title {
    position: absolute;
    top: 126px;
    color: #FFF;
    font-size: 38px;
    font-weight: bold;
    line-height: 52px;
    margin: 0 auto;
    padding: 0;
    left: 0px;
    margin-left:10px;
}
.logo {
    margin-left:10px;
}

/* Primary Navigation */

#primary-nav { position: absolute; top: 150px;}
#nav {
    margin: 0;
    float: left;
    margin-left:20px;
}
#nav li {
    float: left;
    margin: 0 24px 0 0;
    text-transform: uppercase;
}
#nav li a {
    color: #666;
}
#nav li a:hover,
#nav li a:focus {
    text-decoration: none; 
}
#nav li.nav-solutions a.active {
    font-weight:bold; 
}
#nav li.nav-solutions a:hover {
    color: #FFF;
}

/* SELF-CLEARING FLOATS */
#content:after,
#primary-nav:after,
.mod:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* END SELF CLEANING FLOATS */

/* Utility Navigation */

#util-nav {
    position: absolute;
    top: 150px;
    right: 0;
}
#util-nav li {
    margin: 0 12px 0 0;
    text-transform: uppercase;
    float: right;
}
#util-nav li.last {
    margin: 0;
}
#util-nav li span {
    text-transform: uppercase;
}
#util-nav li a {
    color: #666;
    text-transform: uppercase;
}
#util-nav li a:hover,
#util-nav li a:focus {
    text-decoration: none; 
}
#util-nav li.util-nav-global a.active {
    font-weight:bold; 
}
#util-nav li.util-nav-global a:hover {
    color: #FFF; 
}

#util-nav li.util-nav-global {
    margin-right: 0;
    position: relative;
    width: 110px;
}
#util-nav li.util-nav-global a {
    width: 110px;
}
#util-nav li.util-nav-global ul {
    background: #95CD6A;
    border: 1px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    left: -1000em;
    margin: 0;
    padding: 2px 0 4px;
    position: absolute;
    top: -2px;
    z-index: 20;
    white-space:nowrap;
}
#util-nav li.util-nav-global:hover ul,
#util-nav li.ie-hover ul {
    left: 0;
}
#util-nav li.util-nav-global ul li.last {
    border-bottom: none;
}
#util-nav li.util-nav-global ul li a {
    text-indent: 0;
    height: auto;
    text-transform: none;
    padding: 5px 5px;
    cursor: pointer;
}
/* Image align*/
.imageright {
    position: relative;
    display: inline;
    float: right;
    margin-top: -5px;
}

/* LAYOUT ELEMENTS */
#footer {
    width: 70%;
    margin: 0 auto;
}
/* FOOTER: GLOBAL FOOTER ELEMENTS */
#footer {
    border-top: 1px solid #abadad;
    padding: 20px 0 50px 10px;
}
#foot-nav {
    width: 705px;
    float: left;
    margin: 3px 0 7px;
}
#foot-nav li {
    font-size: .625em; /* 10/16 = .625 */
}
#social-nav {
    width: 255px;
    padding: 0;
    float: right;
    text-align:right;
}
#social-nav h2 {
    font-size: 9px;
    text-transform: uppercase;
    margin: 5px 0 0 0;
}
#social-nav li {
    float: right;
    height: 16px;
    width: 16px;
    margin: 3px 0 0 10px;
}
p.copyright {
    font-size: 8px; /* 10/16 = .625 */
    color: #999;
    width: 705px;
    float: left;
    text-transform: uppercase;
    zoom: 1; 
}
#foot-nav li {
    float: left;
    margin-right: 20px;
}
#foot-nav li a {
    color: #666;
    text-transform: uppercase;
    font-size: 10px;
}
/* END GLOBAL FOOTER ELEMENTS */
/* LAYOUT ELEMENTS */
#content{
    width: 70%;
    margin: -50px auto;
    padding: 35px 0 40px 10px;
}

.modal-header {
    background-color: #0E94D3;
    color: white !important;
    text-align: center;
    font-size: 30px;
}
.modal-dialog{
    width: 600px;
    margin: 250px auto;
}
/* END LAYOUT ELEMENTS */

.img-responsive{
    display: block;
    max-width: 50%;
    height: auto;
}

.table { 
    border: 1px solid #DDDDDD; 
    border-collapse:separate;
    border-radius:10px;
    -moz-border-radius:10px;
}
.tablenoborder { 
    border-collapse:separate;
    border-radius:10px;
    -moz-border-radius:10px;
}
.default-body{
    min-height: 60vh;
}
.breadcrumb {
    padding: 0px 0px;
    background-color: #fff;
    width: 20%;
}
.inline-block-row .col-xs-6 {
    float:none;
    display:inline-table;
}

.viewstudentrow{
    margin-right: 0px;
    margin-left: 0px; 
}

.breadcrumb {
    width: 100%;
}
.btn, .btn-primary, .btn-lg, .btn-success {
    border-radius: 24px;
}
/**
File Upload 
*/
.fileupload {
    border: 3px dashed #ccc;
    width: 206px;
    height: 206px;
    margin: 10px auto;
}

.btnUpload {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
}
.btnDefault:focus, .btnDefault:hover, .btnUpload:focus, .btnUpload:hover {
    background-color: #E6E6E6;
}
.btnM {
    border-radius: 18px;
    font-size: 14px;
    padding: 6px 12px;
}
.customUpload {
    overflow: hidden;
    position: relative;
    display: block;
}
.customUpload input.upload {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
/**
*/

.settingstabdiv{
    border: 1px solid #DDD;
    border-top: none; 
    min-height: 50vh;
}
.settingstabinnerdiv{
    margin: 0px 0px 0px 10px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.strikethrough{
  text-decoration:line-through
}