<h3>Custom search field</h3>
<ul class="pager" >
    <li class="next"><a ui-sref=".edit" ><span class="glyphicon glyphicon-plus-sign"></span> Edit Student →</a></li>
</ul>
<div class="row">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="Student" />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div ui-view="edit"></div>
<br>