<div class="row">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form class="form" name="userForm" novalidate><!--start form--><!--add form action as needed-->
                                <fieldset>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input id="username" placeholder="username" class="form-control" type="username" ng-model="user.username" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-primary" value="Reset Password" type="submit" ng-click="resetPassword()" ng-disabled="userForm.$invalid">
                                        <a ui-sref="login" class="forgot-password text-center">
                                            Login
                                        </a>
                                    </div>
                                </fieldset>
                            </form><!--/end form-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>