<div class="row">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h3 class="text-center">Please Sign in</h3>
                        <div class="panel-body" >
                            <span class="text-danger" ng-if="errorMsg">{{errorMsg}}</span>
                            <form name="userForm" novalidate>
                                <fieldset>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input type="text" name="username" id="username" placeholder="Username" class="form-control" ng-model="loginData.username" required server-error>
                                            <span class="input-group-addon" ng-if="errfor.username"><i class="text-danger glyphicon glyphicon-star"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            <input class="form-control" id="password" name="password" placeholder="Password" ng-model="loginData.password" type="password" required server-error>
                                            <span class="input-group-addon" ng-if="errfor.password"><i class="text-danger glyphicon glyphicon-star"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary btn-login center-block" ng-disabled="!canSave(userForm)" ng-click="loginUser()" ng-disabled="userForm.$invalid">Sign In</button>
                                    </div>
                                    <a ui-sref="forgetpassword" class="forgot-password text-center">
                                        Forgot the password?
                                    </a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

