<div >
    <div class="row vertical-offset-150">
        <div class="col-md-10 col-md-offset-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign Up here</h3>
                </div>
                <div class="panel-body" >
                    <p class="form-control-static" ng-if="errorMsg">{{errorMsg}}</p>
                    <form name="userForm" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label" for="username">Pick a Username:</label>
                                <input type="text" name="username" id="username" class="form-control" ng-model="signupData.username" required server-error placeholder="Username...">
                                <span class="help-block text-danger" ng-if="errfor.username">{{errfor.username}}</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Create a Password:</label>
                                <input type="password" name="password" id="password" class="form-control" ng-model="signupData.password" required server-error placeholder="Password...">
                                <span class="help-block text-danger" ng-if="errfor.password">{{errfor.password}}</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="comparepassword">Confirm a Password:</label>
                                <input pw-check="password" class="form-control" name="comparepassword" id="comparepassword" placeholder="Repeat Password..." ng-model="signupData.comparepassword" type="password" required server-error>
                                <div class="msg-block" ng-show="userForm.$error"> 
                                    <span class="msg-error text-danger" ng-show="userForm.comparepassword.$error.pwmatch">Passwords don't match.</span> 
                                </div>
                            </div>
                            <div>
                                <label>
                                    <br>
                                </label>
                            </div>
                            <input class="btn btn-primary btn-signup btn-block" type="submit" value="Create My Account" ng-click="signupUser()" ng-disabled="userForm.$invalid">
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

