<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add User here</h3>
            </div>
            <div class="panel-body" >
                <p class="form-control-static" ng-if="errorMsg">{{errorMsg}}</p>
                <p>User account provisioning is a business process for creating and managing access to SBECT resources in an information technology (IT) system. To be effective, an account provisioning process should ensure that the creation of accounts and access to software and data is consistent.</p>
                <p class="text-danger">Once account issued by you needs to share UserName with user to create the password. Look for reset password workflow in help content</p>
                <p class="text-danger">Access control is a security technique that can be used to regulate who or what can view or use resources in a computing environment.</p>
                <form name="userForm" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="username">Pick a Username:</label>
                            <input type="text" name="username" id="username" class="form-control" ng-model="signupData.username" required server-error placeholder="Username...">
                            <span class="text-danger" ng-if="errfor.username">{{errfor.username}}</span>
                        </div>
                        <div>
                            <label>
                                <br>
                            </label>
                        </div>
                        <input class="btn btn-primary btn-signup center-block" type="submit" value="Create User" ng-click="createUser()" ng-disabled="userForm.$invalid">
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>

