<h3>
    Application User's
</h3>
<ul class="pager" >
    <li class="next"><a ui-sref=".add" ><span class="glyphicon glyphicon-plus-sign"></span> Add User →</a></li>
</ul>
<div >
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Username</th>
                <th>Active</th>
                <th>Roles</th>
                <th>From</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        <tbody class="searchable clickable">
            <tr class="text-left" ng-repeat="row in appUsersList" ng-class="{'text-danger strikethrough': !row.isActive}">
                <td>{{$index + 1}}</td>
                <td>{{row.username}}</td>
                <td>{{row.isActive?'Yes':'No'}}</td>
                <td>{{row.roles.admin ? 'Administrator':'Application User'}}</td>
                <td>{{row.timeCreated | date:'MMM dd, yyyy HH:MM a'}}</td>
                <td class="text-center"><a href="" ng-if="row.canDelete && row.isActive" ng-click="deleteUser(row._id)"> <i class="glyphicon glyphicon-remove-circle" style="color: red;"></i></a></td>

            </tr>
        </tbody>
    </table>
</div>
<div ui-view="usersadd"></div>
<br>