<h3>
    Staff Details
</h3>
<ul class="pager" >
    <li class="next"><a ui-sref=".add" ><span class="glyphicon glyphicon-plus-sign"></span> Add Staff →</a></li>
</ul>
<div >
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Gender</th>
                <th>Subject</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-left" ng-repeat="row in staffList" ng-class="{'text-danger strikethrough': !row.active}" ng-click="viewDetails(row._id)" ui-sref=".view">
                <td>{{$index + 1}}</td>
                <td>{{row.name}}</td>
                <td>{{row.mobile}}</td>
                <td>{{row.gender}}</td>
                <td>{{row.subject}}</td>
                <td class="text-center"><a href="" confirmation-needed="" ng-if="row.active" ng-click="deleteStaff(row._id)"> <i class="glyphicon glyphicon-remove-circle" style="color: red;"></i></a></td>

            </tr>
        </tbody>
    </table>
</div>
<div ui-view="staffview"></div>
<br>