<h3>Custom search field</h3>
<div class="row">
    <form class="form-horizontal" role="form" name="searchData">
        <div id="custom-search-input">
            <div class="input-group col-md-12">

                <input type="hidden" ng-model="formData.active" value="truase" copy-value/>
                <input type="text" class="form-control input-sm" placeholder="search by name or mobile number or roll number" ng-model="formData.query"/>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-sm" type="button" ng-click="searchStudent()" ng-disabled="searchData.$invalid">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
    <br>
    <div ng-show="studentData">
        <table class="lamp" style="border: 0px">
            <tbody>
                <tr>
                    <th style="width:34px"><img src="/img/lamp.jpg" alt="Note" style="height:32px;width:32px"></th>
                    <td><strong class="text-danger">Attention: </strong>
                        Highlighted colored row data from Passed out student .
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table table-hover muffin margin-bottom1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Mobile</th>
                    <th>Roll Number</th>
                    <th>Class</th>
                    <th>Combination</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody class="searchable clickable">
                <tr class="text-left" ng-repeat="row in studentData" ui-sref='.edit' ng-click="edit(row._id)" ng-class="{'text-danger info': !row.active}">
                    <td>{{$index + 1}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.gender | titleCase }}</td>
                    <td>{{row.dob| date:'MMM dd, yyyy'}}</td>
                    <td>{{row.mobile}}</td>
                    <td>{{row.rollnumber}}</td>
                    <td>{{row.class}}</td>
                    <td>{{row.combination}}</td>
                    <td>{{row.caste| uppercase}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ui-view="edit"></div>
<br>