<div class="col-md-12" style="margin-left: -15px;">
    <ul class="breadcrumb">
        <li>
            <a ui-sref="user.studentsdetails" ui-sref-opts="{reload: true}">Current Batch</a> <span class="divider"></span>
        </li>
        <li class="active">
            {{viewStudentData.name}}
        </li>
    </ul>
</div>
<div class="row viewstudentrow">
    <div class="col-xs-8 col-sm-4 placeholder text-right imageright">
        <img src="{{(viewStudentData.image)? viewStudentData.image : (viewStudentData.gender == 'male') ? 'img/male-avatar.jpg': 'img/female-avatar.jpg'}}" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    </div>
    <span class="text-primary"><h1>{{viewStudentData.name}}</h1></span>
    <p class="text-muted">{{viewStudentData.mobile}}</p>
    <p class="text-muted">Roll Number : <label >{{viewStudentData.rollnumber}}</label></p> 
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div id="collapseTwo" class="accordion-body collapse">
                <p class="text-muted">Date of Birth : <label >{{viewStudentData.dob| date:'MMM dd, yyyy'}}</label></p> 
                <p class="text-muted">Promised 1st Year Fee : <label >{{viewStudentData.puc1fee}}</label></p> 
                <p class="text-muted">Promised 2nd Year Fee : <label >{{viewStudentData.puc2fee}}</label></p>
                <p class="text-muted">Total Promised Fee for both the Year's : <label >{{viewStudentData.puc1fee + viewStudentData.puc2fee}}</label></p>
                <p class="text-muted">Combination : <label >{{viewStudentData.combination}}</label></p>
                <p class="text-muted">Class : <label >{{viewStudentData.class}}</label></p>
                <p class="text-muted">Category : <label >{{viewStudentData.caste| uppercase}}</label></p>
            </div>

            <button class="SeeMore2 btn btn-link" data-toggle="collapse" href="#collapseTwo">See More...</button>
        </div>
    </div>
</div>
<br>
<div class="row viewstudentrow">
    <div class="pull-left"><button type="button" class="btn btn-primary" id="myBtn"> <span class="glyphicon glyphicon-transfer"></span> Pay Fee</button></div>
</div>
<hr>
<div class="row">
    <div class="text-primary lead colors  col-lg-6 pull-left">Balance : <label class="col-bn"> {{(viewStudentData.puc1fee + viewStudentData.puc2fee) - paidAmount}} </label></div>
    <div class="text-primary lead colors  col-lg-6 pull-right text-right">Total Paid Amount : <label class="col-bn"> {{paidAmount}} </label></div>
</div>
<label class="text-primary lead colors">Payment History</label>

<div class="panel-group" id="accordion">
    <div class="panel panel-default" style="border-color: #A5B9D2;">
        <div class="panel-heading" style="background-color: #A5B9D2;border-color: #A5B9D2;">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="text-decoration:none;">
                    Academic Fee
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in viewStudentData.fee">
                            <td>{{row.paiddate| date:'MMM dd, yyyy HH:MM a'}}</td>
                            <td>{{row.amount}}</td>
                            <td>{{row.description}}</td>
                            <td>
                                <a style="align-self: flex-end" ng-click="print(viewStudentData._id, row.id, 'academicfee')"><span class="glyphicon glyphicon-print"></span></a>

                            </td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th>{{paidAmount}}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="border-color: #A5B9D2;">
        <div class="panel-heading" style="background-color: #A5B9D2;border-color: #A5B9D2;">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="text-decoration:none;">
                    Exam Fee
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in viewStudentData.examfee">
                            <td>{{row.paiddate| date:'MMM dd, yyyy'}}</td>
                            <td>{{row.amount}}</td>
                            <td>{{row.description}}</td>
                            <td>
                                <a style="align-self: flex-end" ng-click="print(viewStudentData._id, row.id, 'examfee')"><span class="glyphicon glyphicon-print"></span></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="border-color: #A5B9D2;">
        <div class="panel-heading" style="background-color: #A5B9D2;border-color: #A5B9D2;">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="text-decoration:none;">
                    Miscellaneous Fee
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in viewStudentData.otherfee">
                            <td>{{row.paiddate| date:'MMM dd, yyyy'}}</td>
                            <td>{{row.amount}}</td>
                            <td>{{row.description}}</td>
                            <td>
                                <a style="align-self: flex-end" ng-click="print(viewStudentData._id, row.id, 'otherfee')"><span class="glyphicon glyphicon-print"></span></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<style>
    .modal-header, .close {
        background-color: #5cb85c;
        color:white !important;
        text-align: center;
        font-size: 30px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-horizontal" role="form" name="feeData">
                <div class="modal-header" style="padding:25px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Fee Payment</h4>
                </div>

                <div class="modal-body" style="padding:40px 50px;">
                    <div class="form-group">
                        <label for="type" class="control-label col-sm-4"><i class="fa fa-bullseye"></i> Fee Type :</label>
                        <div class="col-md-8">
                            <label class="radio-inline">
                                <input type="radio" id="type" name="gender" value="academicfee" ng-model="feePayment.type" required/> Academic 
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="type" name="gender" value="examfee" ng-model="feePayment.type" required/> Exam
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="type" name="gender" value="otherfee" ng-model="feePayment.type" required/> Miscellaneous
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="control-label col-sm-4"><i class="fa fa-inr"></i> Amount :</label>
                        <div class="col-md-4" ng-class="{
                                'has-error'
                                        : feeData.amount.$invalid, 'has-success': !feeData.amount.$dirty, 'has-feedback':feeData.amount.$invalid || !feeData.amount.$invalid}">
                                        <input id="amount" name="amount" type="number" class="form-control input-sm" placeholder="Enter Initial Fee" ng-model="feePayment.amount" required ng-pattern="/^([0-9]{3,6})?$/" min="0">
                            <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok'
                                            : !feeData.amount.$invalid, 'glyphicon-remove': feeData.amount.$invalid}" ng-show="feeData.amount.$invalid || !feeData.amount.$invalid"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="description"><i class="fa fa-pencil"></i> Description :</label>
                        <div class="col-md-8" ng-class="{
                                'has-error'
                                        : feeData.description.$invalid && feeData.description.$dirty, 'has-success': !feeData.description.$invalid, 'has-feedback': (feeData.description.$invalid && feeData.description.$dirty) || !feeData.description.$invalid}">
                            <input id="description" name="description" type="text" class="form-control input-sm" placeholder="Enter Name" ng-model="feePayment.description" required ng-maxlength="100" ng-minlength="5">
                            <span class="glyphicon form-control-feedback" ng-class="{
                                    'glyphicon-ok':!feeData.description.$invalid, 'glyphicon-remove'
                                            : feeData.description.$invalid && feeData.description.$dirty}" ng-show="(feeData.description.$invalid && feeData.description.$dirty) || !feeData.description.$invalid"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-default" data-dismiss="modal" ng-disabled="feeData.$invalid" ng-click="addFeePayment(viewStudentData._id)"><span class="glyphicon glyphicon-transfer"></span> Pay</button>
                    <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    $("#myBtn").click(function () {
    $("#myModal").modal();
    });
    $('.SeeMore2').click(function () {
    var $this = $(this);
    $this.toggleClass('SeeMore2');
    if ($this.hasClass('SeeMore2')) {
    $this.text('See More');
    } else {
    $this.text('See Less');
    }
    });
    });</script>