<uib-tabset justified="true">
    <uib-tab heading="Account Settings">
        <div class="settingstabdiv">
            <div class="settingstabinnerdiv">
                zxczx
                zxv
                z
                xv
                zx
                v
                zx
                v
                zx
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Users List">
        <div class="settingstabdiv">
            <div class="settingstabinnerdiv">
                zxczx
                zxv
                z
                xv
                zx
                v
                zx
                v
                zx
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Add New User">
        <div class="settingstabdiv">
            <div class="settingstabinnerdiv">
                zxczx
                zxv
                z
                xv
                zx
                v
                zx
                v
                zx
            </div>
        </div>
    </uib-tab>
</uib-tabset>